<h2>Sign up</h2>
<p>Disclaimer: This application is designed to allow the user to track mental health and wellness, create and achieve goals for improvement, and chronical successes. It is not intended to diagnose or treat any illness or condition. Because this is not a healthcare service, none of the application security is standardized for HIPPA compliance. The use of this application is solely at the user's discretion and the application and its maker assume no liablity for its use or misuse.<br> TL;DR: We aren't doctors, we never said we could treat you. Don't sue us </p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
