

<% if @last_assessment == Date.current %>
<!-- <h2>Welcome!</h2> -->
<div class="row">
<div class='well column col-md-4'>
  <h3><%= link_to 'Your good memories', user_memories_path(@user) %><%= link_to '(+)', new_user_memory_path(@user) %></h3>

  <table>
    <tr>
      <th>Date</th>
      <th>Narrative</th>
    </tr>
    <% current_user.memories.each do |memory| %>
    <tr>
      <td><%= memory.created_at.time.to_date %> </td>
      <td><%= memory.narrative %> </td>
    </tr>
    <% end %>
  </table>

</div>
<div class='well column col-md-4 flexcont'>
  <h3>Your self-assessment history</h3>
  <table>
    <tr>
      <th>Date</th>
      <th>Score</th>
    </tr>
    <% current_user.assessments.order(updated_at: :desc).each do |assessment| %>
    <tr>
      <td><%= assessment.created_at.time.to_date %> </td>
      <td><%= assessment.score %> </td>
    </tr>
    <% end %>
  </table>

  <%= link_to 'New assessment', new_user_assessment_path(@user) %>
</div>
<div class="well column col-md-4">
  <h3><%= link_to'Your goals', user_goals_path(@user)%><%= link_to '(+)', new_user_goal_path(@user) %></h3>
  <table>
    <tr>
      <th>Date</th>
      <th>Goal</th>
      <th>Complete by</th>
    </tr>
    <% current_user.goals.each do |goal| %>
    <tr>
      <td><%= goal.created_at.time.to_date %> </td>
      <td><%= goal.goal_string %> </td>
      <td><%= goal.deadline %> </td>
      <!-- <td><%= link_to 'Edit', edit_user_goal_path(current_user, goal) %> </td> -->

    </tr>
    <% end %>
  </table>

</div>
</div>
<% else %>

<%= form_for([current_user, @user.assessments.build]) do |f| %>
<p>
  <%= f.label :score %><br>

  <%= f.select :score, (1..10) %><br>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
<% end %>
