<h3>Edit goal</h3>
<!-- AM: You shouldn't need to explicitly say `method: :put` if `@goal` contains an existing goal. -->
<%= form_for [@user, @goal], method: :put do |f| %>
  <p>
    <%= f.label :goal_string %><br>
    <div class="textbox">
      <%= f.text_area :goal_string %><br>
    </div>
  </p>
  <p>
    <%= f.label :deadline %><br>
    <%= f.text_field :deadline %><br>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
