<h3>What can you do to take your score to the next level?</h3>
<%= form_for([current_user, @user.goals.build]) do |f| %>
  <p>
    <%= f.label :goal_string %><br>
    <div class="textbox">
      <%= f.text_area :goal_string %><br>
    </div>
  </p>
  <p>
    <%= f.label :deadline %><br>
    <%= f.text_field :deadline %><br>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
